<a href="https://colab.research.google.com/github/Ashoks7/akaike_projects/blob/main/001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

#train data

In [ ]:
df = pd.read_parquet("/content/train.parquet")

In [ ]:
df.head()

                            Patient-Uid       Date           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
3  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
4  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
8  a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1

In [ ]:
df.describe()

<ipython-input-4-ea8415b8a3ee>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

                                 Patient-Uid                 Date     Incident
count                                3220868              3220868      3220868
unique                                 27033                 1977           57
top     a0ddfd2c-1c7c-11ec-876d-16262ee38c7f  2019-05-21 00:00:00  DRUG_TYPE_6
freq                                    1645                 3678       561934
first                                    NaN  2015-04-07 00:00:00          NaN
last                                     NaN  2020-09-03 00:00:00          NaN

In [ ]:
df = df.dropna()

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df.drop("Date", axis=1)

In [ ]:
df.head()

                            Patient-Uid           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f  PRIMARY_DIAGNOSIS
3  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f     SYMPTOM_TYPE_0
4  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f        DRUG_TYPE_0
8  a0dc9543-1c7c-11ec-bb63-16262ee38c7f        DRUG_TYPE_1

In [ ]:
import pandas as pd


# One-hot encode the Incident column
one_hot = pd.get_dummies(df['Incident'])

# Concatenate the one-hot encoded column with the original DataFrame
df = pd.concat([df, one_hot], axis=1)

# Group the incidents by Patient-Uid and sum the one-hot encoded columns
grouped = df.groupby('Patient-Uid').sum()

# Display the resulting DataFrame
grouped

<ipython-input-9-917847de7e6e>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('Patient-Uid').sum()

,DRUG_TYPE_0,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
Patient-Uid,,,,,,,,,,,,,,,,,,,,,
a0db1e73-1c7c-11ec-ae39-16262ee38c7f,29,0,0,1,0,0,0,0,0,0,...,1,0,0,0,10,2,0,0,0,0
a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,8,27,0,0,0,0,0,0,0,0,...,0,0,0,0,1,4,0,0,0,0
a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,6,7,0,10,0,0,0,0,0,0,...,0,0,0,0,3,2,0,0,0,0
a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,15,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a0dc9543-1c7c-11ec-bb63-16262ee38c7f,2,45,0,24,0,0,0,0,0,0,...,5,6,0,0,9,27,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f,48,9,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,17,23,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
a0f0d523-1c7c-11ec-89d2-16262ee38c7f,8,48,0,3,0,0,0,0,0,0,...,0,0,0,3,0,3,0,0,0,0
a0f0d553-1c7c-11ec-a70a-16262ee38c7f,7,44,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,3,35,1,0,0,0,0,0,0,0,...,0,0,0,3,0,4,1,0,0,0

In [ ]:
grouped['TARGET DRUG'] = grouped['TARGET DRUG'].apply(lambda x: 0 if x == 0 else 1)
grouped

,DRUG_TYPE_0,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TARGET DRUG,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
Patient-Uid,,,,,,,,,,,,,,,,,,,,,
a0db1e73-1c7c-11ec-ae39-16262ee38c7f,29,0,0,1,0,0,0,0,0,0,...,1,0,0,0,10,2,0,0,0,0
a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,8,27,0,0,0,0,0,0,0,0,...,0,0,0,0,1,4,0,0,0,0
a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,6,7,0,10,0,0,0,0,0,0,...,0,0,0,0,3,2,0,0,0,0
a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,15,42,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a0dc9543-1c7c-11ec-bb63-16262ee38c7f,2,45,0,24,0,0,0,0,0,0,...,5,6,0,0,9,27,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a0f0d4c5-1c7c-11ec-bfec-16262ee38c7f,48,9,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,17,23,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
a0f0d523-1c7c-11ec-89d2-16262ee38c7f,8,48,0,3,0,0,0,0,0,0,...,0,0,0,1,0,3,0,0,0,0
a0f0d553-1c7c-11ec-a70a-16262ee38c7f,7,44,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,3,35,1,0,0,0,0,0,0,0,...,0,0,0,1,0,4,1,0,0,0

use grouped for train

#test data

In [ ]:
df1 = pd.read_parquet("/content/test.parquet")

In [ ]:
df1.describe()

<ipython-input-12-784441b173b6>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df1.describe()

                                 Patient-Uid                 Date     Incident
count                                1065524              1065524      1065524
unique                                 11482                 1947           55
top     a0faa6ed-1c7c-11ec-8f6f-16262ee38c7f  2018-03-13 00:00:00  DRUG_TYPE_6
freq                                    1236                 1139       192292
first                                    NaN  2015-04-07 00:00:00          NaN
last                                     NaN  2020-08-04 00:00:00          NaN

In [ ]:
df1

                                  Patient-Uid       Date        Incident
0        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0
...                                       ...        ...             ...
1372854  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-05-11    DRUG_TYPE_13
1372856  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2018-08-22     DRUG_TYPE_2
1372857  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-02-04     DRUG_TYPE_2
1372858  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-09-25     DRUG_TYPE_8
1372859  a10272c9-1c7c-11ec-b3ce-16262ee38c7f 2017-05-19     DRUG_TYPE_7

[1065524 rows x 3 columns]

In [ ]:
df1=df1.dropna()

In [ ]:
df1 = df1.drop_duplicates()

In [ ]:
df1 = df1.drop("Date", axis=1)

In [ ]:
df1

                                  Patient-Uid        Incident
0        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f  SYMPTOM_TYPE_0
1        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f     DRUG_TYPE_0
2        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f     DRUG_TYPE_2
3        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f     DRUG_TYPE_1
4        a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f  SYMPTOM_TYPE_0
...                                       ...             ...
1372854  a10272c9-1c7c-11ec-b3ce-16262ee38c7f    DRUG_TYPE_13
1372856  a10272c9-1c7c-11ec-b3ce-16262ee38c7f     DRUG_TYPE_2
1372857  a10272c9-1c7c-11ec-b3ce-16262ee38c7f     DRUG_TYPE_2
1372858  a10272c9-1c7c-11ec-b3ce-16262ee38c7f     DRUG_TYPE_8
1372859  a10272c9-1c7c-11ec-b3ce-16262ee38c7f     DRUG_TYPE_7

[1053424 rows x 2 columns]

In [ ]:
import pandas as pd


# One-hot encode the Incident column
one_hot = pd.get_dummies(df1['Incident'])

# Concatenate the one-hot encoded column with the original DataFrame
df1 = pd.concat([df1, one_hot], axis=1)

# Group the incidents by Patient-Uid and sum the one-hot encoded columns
test_data = df1.groupby('Patient-Uid').sum()

# Display the resulting DataFrame
test_data

<ipython-input-18-adc6b7322dc3>:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  test_data = df1.groupby('Patient-Uid').sum()

,DRUG_TYPE_0,DRUG_TYPE_1,DRUG_TYPE_10,DRUG_TYPE_11,DRUG_TYPE_12,DRUG_TYPE_13,DRUG_TYPE_14,DRUG_TYPE_15,DRUG_TYPE_16,DRUG_TYPE_17,...,SYMPTOM_TYPE_6,SYMPTOM_TYPE_7,SYMPTOM_TYPE_8,SYMPTOM_TYPE_9,TEST_TYPE_0,TEST_TYPE_1,TEST_TYPE_2,TEST_TYPE_3,TEST_TYPE_4,TEST_TYPE_5
Patient-Uid,,,,,,,,,,,,,,,,,,,,,
a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,8,3,0,1,0,0,0,0,0,0,...,3,0,0,0,2,0,0,0,0,0
a0f9e9f9-1c7c-11ec-b565-16262ee38c7f,2,30,0,0,0,0,0,9,0,0,...,2,0,0,0,0,0,0,1,0,0
a0f9ea43-1c7c-11ec-aa10-16262ee38c7f,4,33,0,0,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
a0f9ea7c-1c7c-11ec-af15-16262ee38c7f,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
a0f9eab1-1c7c-11ec-a732-16262ee38c7f,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
a102720c-1c7c-11ec-bd9a-16262ee38c7f,33,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a102723c-1c7c-11ec-9f80-16262ee38c7f,4,6,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
a102726b-1c7c-11ec-bfbf-16262ee38c7f,14,5,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a102729b-1c7c-11ec-86ba-16262ee38c7f,5,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
a10272c9-1c7c-11ec-b3ce-16262ee38c7f,1,0,0,0,0,30,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# add a new column 'TARGET DRUG' to the DataFrame with default values of 0
test_data['TARGET DRUG'] = 0
test_data['DRUG_TYPE_18'] =0

In [ ]:
test_pred=test_data.drop('TARGET DRUG',axis=1).values

# in test data traget drug column is not present so it is 0 for all. in given data

In [ ]:
X=grouped.drop('TARGET DRUG',axis=1).values
y=grouped['TARGET DRUG'].values

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
# split train data into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score,f1_score

rf= RandomForestClassifier(max_depth=2,n_estimators=100,max_features="sqrt")    #max_depth=log(no of features)
rf.fit(X_train, y_train)
y_pred= rf.predict(X_val)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators= 100, max_depth = 16, max_features='sqrt')
rf.fit(X_train, y_train)
predictions = rf.predict(X_val)
print("Training Accuracy :",rf.score(X_train,y_train))
print("Testing Accuracy :",rf.score(X_val,y_val))
print("F1 Score :", f1_score(y_val,predictions))
print("ROC AUC Score :", roc_auc_score(y_val,predictions))

Training Accuracy : 0.9377601035790253
Testing Accuracy : 0.8082115775846125
F1 Score : 0.7031205267678213
ROC AUC Score : 0.7722085651364492

In [ ]:
predict = rf.predict(test_pred)

In [ ]:
predict

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
df3 = pd.DataFrame(predict)
df3

       0
0      0
1      0
2      0
3      0
4      0
...   ..
11477  0
11478  0
11479  0
11480  0
11481  0

[11482 rows x 1 columns]

In [ ]:
df3[0].unique()

array([0, 1])

In [ ]:
df3 = df3.rename(columns={0: 'predict'})
df3

       predict
0            0
1            0
2            0
3            0
4            0
...        ...
11477        0
11478        0
11479        0
11480        0
11481        0

[11482 rows x 1 columns]

In [ ]:
test_data = test_data.reset_index()

In [ ]:
final_data = pd.concat([test_data["Patient-Uid"], df3["predict"]], axis=1)
final_data

                                Patient-Uid  predict
0      a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f        0
1      a0f9e9f9-1c7c-11ec-b565-16262ee38c7f        0
2      a0f9ea43-1c7c-11ec-aa10-16262ee38c7f        0
3      a0f9ea7c-1c7c-11ec-af15-16262ee38c7f        0
4      a0f9eab1-1c7c-11ec-a732-16262ee38c7f        0
...                                     ...      ...
11477  a102720c-1c7c-11ec-bd9a-16262ee38c7f        0
11478  a102723c-1c7c-11ec-9f80-16262ee38c7f        0
11479  a102726b-1c7c-11ec-bfbf-16262ee38c7f        0
11480  a102729b-1c7c-11ec-86ba-16262ee38c7f        0
11481  a10272c9-1c7c-11ec-b3ce-16262ee38c7f        0

[11482 rows x 2 columns]

In [ ]:
df.to_csv("final_data.csv",index=False)